head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Hola! soy Estiven y este sitio web te ayudara a poder conocer el mundo del desarrollo web, entender conceptos mediante ejercicios practicos.")
  meta(name="keywords", content="HTML5, CSS3, JavaScript, Figma, Estiven Mayhuay, SQL, Node.js")
  meta(name="author", content="Estiven Mayhuay")
  link(rel="shortcut icon", href="img/favicon.png", type="image/png")
  //link(rel="stylesheet", href="css/index.css")
  link(rel="stylesheet", href="css/estilos.css")

  // boxicons
  link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css")

  // google fonts
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap")

  // highlight markdown
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-dark.min.css")
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script> hljs.highlightAll(); </script>
  block title