button.btnMenu
  span.icon-top
  span.icon-center
  span.icon-bottom

nav.content-menu.grid-nav
  ul.menu
    li.menu__list
      a.menu__link(href="index.html" id="home-link") Home
    li.menu__list
      a.menu__link(href="html5.html" id="html-link") HTML5
    li.menu__list
      a.menu__link(href="css3.html" id="css-link") CSS3
    li.menu__list
      a.menu__link(href="javascript.html" id="js-link") JavaScript
    li.menu__list
      a.menu__link(href="terminal.html" id="terminal-link") Terminal
    li.menu__list
      a.menu__link(href="git.html" id="git-link") GIT
    li.menu__list
      a.menu__link(href="webpack.html" id="webpack-link") Webpack
    li.menu__list
      a.menu__link(href="react.html" id="react-link") React
    li.menu__list
      a.menu__link(href="sql.html" id="sql-link") SQL
    li.menu__list
      a.menu__link(href="nodejs.html" id="nodejs-link") Node.js
    li.menu__list
      a.menu__link(href="https://github.com/EstivenMayhuay/Ruta-FullStack") Repositorio