button.btnMenu
  span.icon-top
  span.icon-center
  span.icon-bottom

nav.content-menu
  ul.menu
    li.menu__list
      a.menu__link(href="index.html") Home
    li.menu__list
      a.menu__link(href="html5.html") HTML5
    li.menu__list
      a.menu__link(href="css3.html") CSS3
    li.menu__list
      a.menu__link(href="javascript.html") JavaScript
    li.menu__list
      a.menu__link(href="git.html") GIT
    li.menu__list
      a.menu__link(href="terminal.html") Terminal
    li.menu__list
      a.menu__link(href="sql.html") SQL
    li.menu__list
      a.menu__link(href="https://github.com/EstivenMayhuay/Ruta-FullStack") Repositorio