button.btnMenu
  span.icon-top
  span.icon-center
  span.icon-bottom

nav.content-menu
  ul.menu
    li.menu__list
      a.menu__link(href="#") Home
    li.menu__list
      a.menu__link(href="#") HTML5
    li.menu__list
      a.menu__link(href="#") CSS3
    li.menu__list
      a.menu__link(href="#") JavaScript