.content {
  display: block;
  width: 100%;
  min-height: 100vh;

  /* Intro */
  .intro {
    overflow: hidden;
    padding: 2em 1em;

    h1,
    h2,
    h3 {
      margin-bottom: 1em;
    }

    // h1 titles
    h1 > strong {
      .mixin-titles(@black, @headline-4);
    }

    // h2 titles
    h2 > strong {
      .mixin-titles(@black, @headline-5);
    }

    // h3 titles
    h3 > strong {
      .mixin-titles(@black, @headline-6);
    }

    // paragraphs
    blockquote {
      p {
        .mixin-paragraphs(@black, @subTitle-1);
        margin-bottom: 1em;
      }
    }

    // tables
    table {
      margin-bottom: 1em;

      thead {
        tr th {
          background: @color-primary;
          padding: 0.5em 0;
          color: @white;
        }
      }

      tbody {
        tr td {
          color: @black;
          font-weight: 500;
          padding: 0.5em;
        }
      }
    }

    // box code
    pre {
      margin-bottom: 1em;
    }

    // content indice
    .contentIndice {
      margin: 0 0 1em 0;

      &__title {
        color: @black;
        padding: 0.5em 0;
        font-size: @headline-5;
      }

      .main {
        font-weight: 700;
      }

      .second {
        padding: 0 0 0 1em;
        margin: 0;
      }

      .second summary {
        font-size: @headline-6;
        color: @black;
      }

      // indice
      .indice {
        display: flex;
        flex-flow: column;
        gap: 1em;
        padding: 0 0 0 2em;

        &__item a {
          font-size: @headline-6;
          color: @black;
        }
      }
    }

    // links
    .links {
      color: @color-primary;
      font-size: @headline-6;
      font-weight: 600;
    }

    // listas
    .lista {
      display: flex;
      flex-flow: column;
      gap: 1em;
      padding: 0 0 0 1em;
      margin: 0 0 1em 0;

      li {
        .mixin-titles(@black, @subTitle-1);

        strong {
          .mixin-titles(@black, @headline-6);
        }
      }
    }
  }
}
